{% extends "layout.html" %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='select2.min.css')}}">
  <script src="{{url_for('statics', rtype='js', filename='select2.min.js')}}"></script>
{% endblock %}

{% block title %}Languages{% endblock %}
{% block content %}
{% if 'all' in session['rights'] or 'languages' in session['rights'] %}
<div class="panel panel-default">

  <!-- New Language Form -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLanguage" {{disabled}}>
    Add new translation
  </button>

  <!-- Modal -->
  <div class="modal fade" id="addLanguage" role="dialog" aria-labelledby="Add Language">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="Add Language">Add new translation</h4>
        </div>
        <div class="modal-body">
          <form role="addnewlang" action="{{ url_for('add_language') }}" method="POST">
            <li class="list-group-item">
              <img src="/flags/af.png" id="flag-new">
              <span class="label label-default">Country Flag</span>
              <div class="input-group" style="max-width: 400px;">
                <label class="input-group-addon">Displayed Country Name</label>
                <input type="text" class="form-control" name="variant" placeholder="Country Display Name" required autofocus>
              </div>
              <div class="input-group" style="max-width: 400px;">
                <label class="input-group-addon">Displayed Language Name</label>
                <input type="text" class="form-control" name="name" placeholder="Language Display Name" required>
              </div>
            <!-- Select for Country Codes ISO 3361-1 -->
            <label>Country Name</label>
            <select
              name="locale"
              class="js-example-basic-single"
              id="country"
              onchange="changeFlag('country','flag-new')">
            {% for country in isocountries %}
              <option value="{{country.alpha2 | lower}}">{{country.name}}</option>
            {% endfor %}
            </select>
            <br>
            <!-- Select for Languages Codes ISO 639-1 -->
            <label>Language Name</label>
            <select
              name="code"
              class="js-example-basic-single"
              id="language">
            {% for language in isolanguages %}
              <option value="{{language.alpha2}}">{{language.English}}</option>
            {% endfor %}
            </select>
            <div class="modal-footer">
              <div class="btn btn-group">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <input type="submit" class="btn btn-success" value="Save changes" {{disabled}}>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Show Configured Languages -->
  <div class="row">
  {% for entry in languages %}
    <div class="col-sm-4">
    <form role="form" action="{{ url_for('change_language') }}" method="POST">
      <input type="hidden" name="_id" value="{{entry._id}}">
      <li class="list-group-item">
        <img src="/flags/{{entry.locale}}.png" id="flag-{{entry._id}}">
        <span class="label label-default">Country Flag</span>
        <div class="input-group" style="max-width: 400px;">
          <label class="input-group-addon">Displayed Country Name</label>
          <input type="text" class="form-control" name="variant" value="{{entry.variant}}" required>
        </div>
        <div class="input-group" style="max-width: 400px;">
          <label class="input-group-addon">Displayed Language Name</label>
          <input type="text" class="form-control" name="name" value="{{entry.name}}" required>
        </div>

        <!-- Select for Country Codes ISO 3361-1 -->
        <div class="input-group">
          <label class="input-group-addon">Country Name</label>
          <select
            style="max-width: 200px;"
            class="js-example-basic-single"
            id="{{entry._id}}"
            name="name"
            onchange="changeFlag('{{entry._id}}','flag-{{entry._id}}')">
          {% for country in isocountries %}
          {% if country.alpha2 | lower == entry.locale %}
            <option value="{{country.alpha2 | lower}}" selected="selected">{{country.name}}</option>
          {% else %}
            <option value="{{country.alpha2 | lower}}">{{country.name}}</option>
          {% endif %}
          {% endfor %}
          </select>
        </div>

        <!-- Select for Languages Codes ISO 639-1 -->
        <div class="input-group">
          <label class="input-group-addon">Language Name</label>
          <select
            style="max-width: 200px;"
            class="js-example-basic-single"
            id="{{entry._id}}"
            name="code">
          {% for language in isolanguages %}
          {% if language.alpha2 | lower == entry.code %}
            <option value="{{language.alpha2 | lower}}" selected="selected">{{language.English}}</option>
          {% else %}
            <option value="{{language.alpha2 | lower}}">{{language.English}}</option>
          {% endif %}
          {% endfor %}
          </select>
        </div>

        <p>
          <div class="btn-group">
            <div class="btn-group dropup">
              <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="savebtn" aria-expanded="false" {{disabled}}>Save</button>
              <ul class="dropdown-menu" aria-labelledby="savebtn">
                <li><input type="submit" class="btn btn-sm btn-success btn-block" value="Confirm"></li>
              </ul>
            </div>
            <div class="btn-group dropup">
              <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="removebtn" aria-expanded="false" {{disabled}}>Remove</button>
              <ul class="dropdown-menu" aria-labelledby="removebtn">
                <li>
                  <button class="btn btn-sm btn-block btn-danger" onclick="window.location.href = '{{ url_for('del_language',_id=entry._id) }}'">
                    Confirm
                  </button>
                </li>
              </ul>
            </div>
            <a href="{{ url_for('translations',code=entry.code,locale=entry.locale)}}" class="btn btn-primary">Translations</a>
          </div>
        </p>

      </li>
    </form>
    </div>
    {% endfor %}
  </div>

</div>

<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});

function changeFlag(selectid,flagid) {
  var country = $('#' + selectid + ' option:selected').val();
  $('#' + flagid ).attr('src','/flags/' + country + '.png');
}
</script>
{% else %}
<div class="alert alert-danger" align="center" style="max-width: 400px;">
  <p>You don't have permission to view this page.</p>
</div>
{% endif %}
{% endblock %}
