{% if access == 'ro' %}
  {% set disabled = 'disabled' %}
{% else %}
  {% set disabled = '' %}
{% endif %}

<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Virtual Guide Web Admin - {% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='bootstrap-theme.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='style.css')}}">
  <script src="{{url_for('statics', rtype='js', filename='jquery-1.12.0.min.js')}}"></script>
  <script src="{{url_for('statics', rtype='js', filename='bootstrap.min.js')}}"></script>
  {% block header %}{% endblock %}
</head>
<body>

<script type="text/javascript">
  $(document).ready(function() {
    var url = window.location;
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    $('ul.nav a').filter(function() {
      return this.href == url;
    }).parent().addClass('active');
  });
</script>

{% if session.logged_in %}
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header" style="background: #eee;">
      <a class="navbar-brand" href="/">Virtual Guide Admin</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>

        {% if 'all' in session['rights'] or 'main_config' in session['rights'] %}
        <li><a href="/main_config">Main Configurations</a></li>
        {% endif %}

        {% if 'all' in session['rights'] or 'languages' in session['rights'] %}
        <li class="dropdown">
          <a href="/languages" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            Languages <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/languages">All languages</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Configured Languages</li>
            {% for language in languages %}
            <li>
              <a href="{{ url_for('translations',code=language.code,locale=language.locale)}}">
                {{language.name}} - {{language.variant}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endif %}

        {% if 'all' in session['rights'] or 'objects' in session['rights'] %}
        <li><a href="/objects">Objects</a></li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right" style="padding-right: 30px;">
        {% if 'all' in session['rights'] or 'users' in session['rights'] %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
            User Management <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/users">Users</a></li>
            <li><a href="/roles">Roles</a></li>
          </ul>
        </li>
        {% endif %}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"
            role="button" aria-haspopup="true" aria-expanded="false">
              <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
              {{session.user['fullname']}} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
            <li><a href="#">Preferences</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{category|default('info')}} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>{{category|title}}!</strong> {{message}} 
      </div>
    {% endfor %}
  {% endif %}
  {% endwith %}

  {% endif %}
  {% block content %}
</div>
<div class="container">
  <div class="jumbotron">
    <h2>Welcome to Virtual Guide Administrative Interface</h2>
    <p>Welcome, {{session.user['fullname']}} <small>({{session.user['username']}})</small>.</p>
  </div>
</div>
{% endblock %}
</body>
