{% extends "layout.html" %}
{% block title %}Objects{% endblock %}

{% block content %}
{% if 'all' in session['rights'] or 'objects' in session['rights'] %}
{% set lastobj = objects | last() %}
{% set newid = '%010d' % (lastobj.id | int + 1) %}

<p>
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Add New Object<span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('add_object',id=newid) }}">Add Object: {{newid}}</a></li>
    </ul>
  </div>
</p>


<!-- List Objects -->
<div class="panel panel-default">
  <div class="row">
    {% for object in objects %}
    <div class="col-md-6">
      <div class="list-group">
        <div class="list-group-item list-group-item-success">
          <p><span class="label label-default">{{object.id}}</span></p>
          <img class="img-thumbnail" src="/thumbs/{{object.id}}.png">
          <div class="btn-group">
            <a href="{{ url_for('get_object',_id=object._id) }}" class="btn btn-primary">Edit</a>
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Delete <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('del_object',_id=object._id) }}">Confirm</a></li>
            </ul>
          </div>

        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p>
                {% for translation in object.translations %}
                {% set locale = translation.isocode.split('-') %}
                <div class="list-group">
                  <div class="list-group-item list-group-item-info">
                    Language:
                    <strong>
                    {% for lang in languages %}
                      {% if lang.code == locale[0] %}
                        {{lang.variant}} / {{lang.name}}
                      {% endif %}
                    {% endfor %}
                  </strong>
                  </div>
                  <p class="list-group-item">Title: {{translation.title}}</p>
                  <div class="list-group-item">
                    {% if translation.audio %}
                    Audio: <span class="label label-success">Yes</span>
                    {% else %}
                    Audio: <span class="label label-danger">No</span>
                    {% endif %}
                  </div>
                  <div class="list-group-item">
                    {% if translation.video %}
                    Video: <span class="label label-success">Yes</span>
                    {% else %}
                    Video: <span class="label label-danger">No</span>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
</div>

{% else %}
<div class="alert alert-danger" align="center" style="max-width: 400px;">
  <p>You don't have permission to view this page.</p>
</div>
{% endif %}
{% endblock %}
