{% extends "layout.html" %}
{% block title %}Object detail{% endblock %}

{% block content %}
<table width="98%" align="center">
  <tr>
    <th width="10%">Object ID</th>
    <th width="10%">Object Image</th>
    <th width="10%">Object QR Code</th>
  </tr>
  <tr>
    <td>
      <p><b>{{object.id}}</b><p>
      <form id="delobj" action="{{url_for('change_object')}}" method="POST">
        <input type="hidden" name="_id" value="{{object._id}}">
        <input type="hidden" name="action" value="del_object">
        <p><a class="button" onclick="$('#delobj').submit();">Delete</a></p>
      </form>
    </td>
    <td>
      <p><img src="/thumbs/{{object.id}}.png"></p>
      <form id="upload_image" action="{{url_for('upload_obj_img',filename=object.id)}}" method="post" enctype="multipart/form-data">
        <input class="button" type="file" name="file"><br>
          <p><a class="button" onclick="$('#upload_image').submit()">Upload</a></p>
      </form>
    </td>
    <td><img src="/qrcode/{{object.id}}.svg"></td>
  </tr>
</table>

<p></p>

<table width="98%" align="center">
  <tr>
    <th width="30%">Language Name</th>
    <th width="30%">Object Titles</th>
    <th width="30%">Object Texts</th>
    <th width="30%">Actions</th>
  </tr>
  {% for lang in object.translations %}
  <tr>
    <form action="{{url_for('change_object')}}" method="POST" id="text_{{lang.isocode}}">
      <input type="hidden" name="_id" value="{{object._id}}">
      <input type="hidden" id="action_{{lang.isocode}}" name="action" value="change_translation">
      <td>
          {% for code in langs %}
          {% if code.code + '-' + code.locale == lang.isocode %}
            {{code.name}} - {{code.variant}}
            <input type="hidden" name="isocode" value="{{lang.isocode}}">
          {% endif %}
          {% endfor %}
      </td>
      <td>
        <input name="title" size="30" type="text" value="{{lang.title}}">
      </td>
      <td>
        <textarea name="text" cols="60">{{lang.text}}</textarea>
      </td>
      <td>
        <p><a class="button" onclick="$('#text_{{lang.isocode}}').submit();">Save</a></p>
        <p><a class="button" onclick="$('#action_{{lang.isocode}}').val('del_translation');
        $('#text_{{lang.isocode}}').submit();">Remove</a></p>
      </td>
    </form>
  </tr>
  {% endfor %}
  <tr id="add_translation_tr" hidden>
    <form action="{{url_for('change_object')}}" method="POST" id="add_translation_{{object.id}}">
      <input type="hidden" name="_id" value="{{object._id}}">
      <input type="hidden" name="action" value="add_translation">
      <td>
        {{code}}
        <select name="isocode">
          {% for code in langs %}
          <option value="{{code.code}}-{{code.locale}}">{{code.name}} - {{code.variant}}</option>
          {% endfor %}
        </select>
      </td>
      <td><input name="title" size="30" type="text"</td>
      <td><textarea name="text" cols="60"></textarea></td>
      <td>
        <a class="button" onclick="$('#add_translation_{{object.id}}').submit();">Save</a>
      </td>
    </form>
  </tr>
</table>
<p><a class="button" onclick="$('#add_translation_tr').toggle()">Add Translation</a></p>

<p></p>

<!-- Media Table -->
<table width="98%" align="center">
  <tr>
    <th width="40%">Audio</th>
    <th width="60%">Video</th>
  </tr>
  <tr>
<!-- Audio Table -->
    <td>
      <a onclick="$('#insert_audio').toggle();">Insert Audio</a>
      <div id="insert_audio" hidden>
        <form id="upload_audio" action="{{url_for('upload_obj_media',mediatype='audio',filename=object.id)}}" method="post" enctype="multipart/form-data">
        <table width="100%">
          <tr>
            <td>
              <select name="isocode">
                {% for code in langs %}
                <option value="{{code.code}}-{{code.locale}}">{{code.name}} - {{code.variant}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="button" type="file" name="file">
            </td>
            <td>
              <p><a class="button" onclick="$('#upload_audio').submit()">Upload</a></p>
            </td>
          </table>
        </form>
      </div>
      <table width="100%">
      {% for title in object.translations %}
        <tr>
          <td>
            {% for code in langs %}
              {% if code.code + '-' + code.locale == title.isocode %}
                {{code.name}} - {{code.variant}}
              {% endif %}
            {% endfor %}
          </td>
          {% if title.audio %}
          <td>
            <audio src="/audios/{{title.isocode}}-{{object.id}}.mp3" preload="none" controls>
            Your browser does not support the audio tag.
            </audio>
          </td>
          <td>
            <a href="{{url_for('remove_media',mediatype='audio',isocode=title.isocode,id=object.id)}}">Remove</a>
          </td>
            {% else %}
          <td>
            No Audio
          </td>
            {% endif %}
        </tr>
      {% endfor %}
      </table>
    </td>

<!-- Video Table -->
    <td>
      <a onclick="$('#insert_video').toggle();">Insert Video</a>
      <div id="insert_video" hidden>
        <form id="upload_video" action="{{url_for('upload_obj_media',mediatype='video',filename=object.id)}}" method="post" enctype="multipart/form-data">
        <table width="100%">
          <tr>
            <td>
              <select name="isocode">
                {% for code in langs %}
                <option value="{{code.code}}-{{code.locale}}">{{code.name}} - {{code.variant}}</option>
                {% endfor %}
              </select>
            </td>
            <td>
              <input class="button" type="file" name="file">
            </td>
            <td>
              <p><a class="button" onclick="$('#upload_video').submit()">Upload</a></p>
            </td>
          </table>
        </form>
      </div>
      <table width="100%">
      {% for title in object.translations %}
        <tr>
          <td widht="20%">
            {% for code in langs %}
              {% if code.code + '-' + code.locale == title.isocode %}
                {{code.name}} - {{code.variant}}
              {% endif %}
            {% endfor %}
          </td>
          <td widht="70%">
            {% if title.video %}
              <video width="320" height="240" controls>
                <source src="/videos/{{title.isocode}}-{{object.id}}.ogv" type="video/ogg">
                Your browser does not support the video tag.
              </video>
            {% else %}
                No video
            {% endif %}
          </td>
          <td widht="10%">
            <a href="{{url_for('remove_media',mediatype='video',isocode=title.isocode,id=object.id)}}">Remove</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </td>
    <!-- End Video Table -->
  </tr>
</table>
{% endblock %}
