{% extends "layout.html" %}
{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='select2.min.css')}}">
  <script src="{{url_for('statics', rtype='js', filename='select2.min.js')}}"></script>
{% endblock %}
{% block title %}Objects{% endblock %}

{% block content %}
{% if 'all' in session['rights'] or 'objects' in session['rights'] %}
{% set lastobj = objects | last() %}
{% set newid = '%010d' % (lastobj.id | int + 1) %}
{% set pagination %}
  {% if total_pages > 1 %}
  <ul class="pagination">
    {% for page in range(0,total_pages + 1) %}
    {% if loop.index0 == curpage %}
    <li class="active"><a href="{{ url_for('objects', max_results=max_results|default(15), page=loop.index0)}}">{{loop.index}}</a></li>
    {% else %}
    <li><a href="{{ url_for('objects', max_results=max_results|default(15), page=loop.index0)}}">{{loop.index}}</a></li>
    {% endif %}
   {% endfor %}
  </ul>
  {% endif %}
{% endset %}

<!-- New Language Form -->
<p>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addObject" {{disabled}}>
    Create new object
  </button>
  <a href="{{ url_for('export_list') }}" target="_new" class="btn btn-primary">Print objects list</a>
</p>


<!-- Create new Object Modal -->
<div class="modal fade" id="addObject" role="dialog" aria-labelledby="New Object" style="overflow-y: initial;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="New Object">Create new object</h4>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        <form role="addnewobject" action="{{ url_for('add_object') }}" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-4">
                <!-- Object ID Image -->
                <label>Object ID</label>
                <input class="form-control" type="text" name="id" value="{{newid}}" maxlength="10">
              </div>
              <!-- Upload Image -->
              <div class="col-md-8">
                <input id="uploadFile" placeholder="Choose File" disabled="disabled">
                <div class="fileUpload btn btn-sm btn-primary">
                  <span>Browse</span>
                  <input id="uploadBtn" type="file" name="file" class="upload" accept="image/*">
                </div>
              </div>
            </div>
            <p></p>
            <!-- Ipput Translations -->
            <div class="row">
              <div class="col-md-8">
                <p><button class="add_field_button btn btn-sm btn-primary">Add Translation</button></p>
                <div class="input_fields_wrap">
                  <div class="input-group">
                    <span class="input-group-addon">Translation</span>
                    <select
                      name="translations[1]"
                      id="translations1"
                      class="js-example-basic-single"
                      id="isocode">
                      {% for translation in languages %}
                      {% set isocode = translation.code + '-' + translation.locale %}
                      <option value="{{isocode}}">{{translation.name}} / {{translation.variant}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">Title</span>
                    <input id="translation_title_1" class="form-control" name="translations[1]" type="text" required><br>
                    </div>
                    <div class="input-group">
                    <span class="input-group-addon">Text</span>
                    <input id="translation_text_1" class="form-control" name="translations[1]" type="text" required>
                  </div>
                  <p></p>
                </div>
              </div>
            </div>
          <div class="modal-footer">
            <div class="btn btn-group">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <input type="submit" class="btn btn-success" value="Save changes">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- List Objects -->
<div class="panel panel-default">
  {{pagination|safe}}
  <div class="row">
    {% for object in objects %}
    <div class="col-md-6">
      <div class="list-group">
        <div class="list-group-item list-group-item-success">
          <p><span class="label label-default">{{object.id}}</span></p>
          <img class="img-thumbnail" src="/thumbs/{{object.id}}.png">
          <div class="btn-group">
            {% if disabled == 'disabled' %}
            <a href="#" class="btn btn-primary" {{disabled}}>Edit</a>
            {% else %}
            <a href="{{ url_for('get_object',_id=object._id) }}" class="btn btn-primary">Edit</a>
            {% endif %}
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{disabled}}>
              Delete <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('del_object',_id=object._id) }}">Confirm</a></li>
            </ul>
          </div>

        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <p>
                {% for translation in object.translations|sort %}
                {% set locale = translation.isocode.split('-') %}
                <div class="list-group">
                  <div class="list-group-item list-group-item-info">
                    Language:
                    <strong>
                    {% for lang in languages %}
                      {% if lang.code == locale[0] %}
                        {{lang.variant}} / {{lang.name}}
                      {% endif %}
                    {% endfor %}
                  </strong>
                  </div>
                  <p class="list-group-item">Title: {{translation.title}}</p>
                  <div class="list-group-item">
                    {% if translation.audio %}
                    Audio: <span class="label label-success">Yes</span>
                    {% else %}
                    Audio: <span class="label label-danger">No</span>
                    {% endif %}
                  </div>
                  <div class="list-group-item">
                    {% if translation.video %}
                    Video: <span class="label label-success">Yes</span>
                    {% else %}
                    Video: <span class="label label-danger">No</span>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  {{pagination|safe}}
</div>

{% set current_translations = languages | count %}
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();

  document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
  };

  /*
    Original idea:
    http://www.sanwebe.com/2013/03/addremove-input-fields-dynamically-with-jquery
  */
  var max_fields      = {{current_translations}}; //maximum input boxes allowed
  var wrapper         = $(".input_fields_wrap"); //Fields wrapper
  var add_button      = $(".add_field_button"); //Add button ID

  var x = 1; //initlal text box count
  $(add_button).click(function(e) { //on add input button click
    e.preventDefault();
    if (x < max_fields) { //max input box allowed
      x++; //text box increment
      $(wrapper).append('<div><a href="#" class="remove_field btn btn-sm btn-danger">Remove Translation</a> \
      <div class="input-group"> \
        <span class="input-group-addon">Translation</span> \
        <select \
          name="translations['+ x.toString() +']" \
          id="translations1" \
          class="js-example-basic-single" \
          id="isocode"> \
          {% for translation in languages %} \
          {% set isocode = translation.code + '-' + translation.locale %} \
          <option value="{{isocode}}">{{translation.name}} / {{translation.variant}}</option> \
          {% endfor %} \
        </select>\
      </div> \
      <div class="input-group"> \
        <span class="input-group-addon">Title</span> \
        <input class="form-control" name="translations['+ x.toString() +']" type="text" required><br> \
        </div> \
        <div class="input-group"> \
        <span class="input-group-addon">Text</span> \
        <input class="form-control" name="translations['+ x.toString() +']" type="text" required> \
        </div></div><p></p>'); //add input box
      $(".js-example-basic-single").select2();
    }
  });

  $(wrapper).on("click",".remove_field", function(e) { //user click on remove text
    e.preventDefault();
    $(this).parent('div').remove();
    x--;
  })
});
</script>

{% else %}
<div class="alert alert-danger" align="center" style="max-width: 400px;">
  <p>You don't have permission to view this page.</p>
</div>
{% endif %}
{% endblock %}
