<!doctype html>
<head>
<title>Edit Tab</title>
</head>
{% set req = request.path.split('/') %}
{% block content %}
<body>
  <h2 class="title">Tab: {{translations.TITLE}}</h2>
  <h4>ISO Code: {{req[2]}}</h4>
  {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
  {% endfor %}
  <a href="{{url_for('index')}}">Home</a>
  <form action="{{url_for('change_translation',isocode=req[2],tab=req[3])}}" method="POST">
    {% for item in translations %}
      <p>
        {{item}}<br>
        {% if translations[item]|length() > 40 %}
          <textarea cols=60 name="{{item}}">{{translations[item]}}</textarea>
        {% else %}
          <input type="text" size=50 name="{{item}}" value="{{translations[item]}}">
        {% endif %}
      </p>
    {% endfor %}
    <input type="submit" value="Save"><input type="reset" value="Reset">
  </form>
</body>
{% endblock%}
