{% extends "layout.html" %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='select2.min.css')}}">
  <script src="{{url_for('statics', rtype='js', filename='select2.min.js')}}"></script>
{% endblock %}

{% block title %}Languages{% endblock %}
{% block content %}
{% if 'all' in session['rights'] or 'languages' in session['rights'] %}
<div class="panel panel-default">

<div>
<form action="" method="POST" role="users">
<a class="btn btn-primary" href="{{url_for('newuser', userid='0')}}">Create new user</a>
<table class="table table-bordered table-hover">
  <thread>
  <tr>
    <th colspan="4" style="background-color: #eee; text-align: center;"><h4>Users list</h4></th>
  </tr>
  <tr>
    <th width="150px">
      <input type="checkbox" onchange="$('.user_cbox').prop('checked', $(this).prop('checked'));"> Actions
    </th>
    <th>Username</th>
    <th>Fullname</th>
    <th>Roles</th>
  </tr>
  </thread>
  <tbody>
  {% for user in users %}
  <tr>
    <td>
      {% if user.username != session.user['username'] %}
      <input type="checkbox" name="user" value="{{user.username}}" class="user_cbox">
      <a href="{{ url_for('deluser', userid=user._id) }}" class="btn btn-sm btn-danger" title="Remove User"><span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}
      <a href="{{ url_for('edituser', userid=user._id) }}" class="btn btn-sm btn-primary" title="Edit User"><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="{{ url_for('newuser', userid=user._id) }}" class="btn btn-sm btn-primary" title="Duplicate User"><span class="glyphicon glyphicon-duplicate"></span></a>
    </td>
    <td><a href="{{ url_for('edituser', userid=user._id) }}">{{user.username}}</a></td>
    <td>{{user.fullname}}</td>
    <td>{{user.roles|join(', ')}}</td>
  </tr>
  {% endfor %}
  <tr>
  </tbody>
</table>
<input type="submit" class="btn btn-danger" value="Delete Selected">
</form>
</div>

</div>
{% else %}
<div class="alert alert-danger" align="center" style="max-width: 400px;">
  <p>You don't have permission to view this page.</p>
</div>
{% endif %}
{% endblock %}
