{% extends "layout.html" %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{url_for('statics', rtype='css', filename='select2.min.css')}}">
  <script src="{{url_for('statics', rtype='js', filename='select2.min.js')}}"></script>
{% endblock %}

{% block title %}Languages{% endblock %}
{% block content %}
{% if 'all' in session['rights'] or 'languages' in session['rights'] %}
<div class="panel panel-default">
<p>Users list</p>
<table class="table table-bordered table-hover">
  <thread>
  <tr>
    <th>Username</th>
    <th>Fullname</th>
    <th>Roles</th>
  </tr>
  </thread>
  <tbody>
  {% for user in users %}
  <tr>
    <td><a href="#{{user._id}}">{{user.username}}</a></td>
    <td>{{user.fullname}}</td>
    <td>{{user.roles|join(', ')}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<p>Roles list</p>
<table class="table table-bordered table-hover">
  <thread>
  <tr>
    <th>Role</th>
    <th>Description</th>
    <th>Rights</th>
  </tr>
  </thread>
  <tbody>
  {% for role in roles %}
  <tr>
    <td><a href="#{{role._id}}">{{role.rolename}}</a></td>
    <td>{{role.description}}</td>
    <td>
    {% for right in role.rights %}
      {{right}}: "{{role.rights[right]}}"<br>
    {% endfor %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</div>
{% else %}
<div class="alert alert-danger" align="center" style="max-width: 400px;">
  <p>You don't have permission to view this page.</p>
</div>
{% endif %}
{% endblock %}
