Flask==0.10.1
Flask-PyMongo==0.4.1
Jinja2==2.8
MarkupSafe==0.23
Pillow==3.1.1
PyQRCode==1.1.1
Werkzeug==0.11.5
argparse==1.2.1
colorthief==0.2
gevent==1.1.0
greenlet==0.4.9
itsdangerous==0.24
pymongo==3.2.2
wsgiref==0.1.2
