<ion-view view-title="About Virtual Guide Application" cache-view="false" hide-tabs>
  <ion-content class="padding">
    <div class="card padding">
      <div class="item item-divider" align="center">
        <h2><b>Virtual Guide Application</b></h2>
      </div>
      <p>This software was developed by: Allan GooD</p>
      <p>For more information, please visit <a href="http://github.com/allangood/virtualguide">http://github.com/allangood/virtualguide</a></p>
      <p>If you have any suggestion or comment, please, contact me at <a href="mailto:allangoodapps@gmail.com">allangoodapps@gmail.com</a></p>
    </div>
    <div class="card padding">
      <div class="item item-divider" align="center">
        <h2>Thanks to</h2>
      </div>
      <p>Ionic Team - <a href="http://ionicframework.com">http://ionicframework.com</a></p>
      <p>Apache Cordova, Angular, ng-Angular, PhoneGap, Node.js teams</p>
      <p>Nic Raboy - <a href="http://blog.nraboy.com">http://blog.nraboy.com</a></p>
      <p>The author of the RSA Encrypt (Travis) - <a href="https://github.com/travist/jsencrypt">https://github.com/travist/jsencrypt</a></p>
      <p>The author of the MD5-Hash (Blueimp) - <a href="https://github.com/blueimp/JavaScript-MD5">https://github.com/blueimp/JavaScript-MD5</a></p>
      <p>The author of ColourThief (Fengsp) - <a href="https://github.com/fengsp/color-thief-py">https://github.com/fengsp/color-thief-py</a></p>
      <p>The Icondrawer Team - <a href="http://www.icondrawer.com">http://www.icondrawer.com</a></p>
      <p>The authors of these plugins:</p>
      <div class="padding-left">
        <p>cordova-plugin-globalization - <a href="https://github.com/apache/cordova-plugin-globalization">https://github.com/apache/cordova-plugin-globalization</a></p>
        <p>phonegap-plugin-barcodescanner - <a href="https://github.com/phonegap/phonegap-plugin-barcodescanner">https://github.com/phonegap/phonegap-plugin-barcodescanner</a></p>
      </div>
      <p>And many developers around Internet whom put samples of code in forums like StackOverflow, Codepen and others.</p>
    </div>
    <div class="card padding">
      <div class="item item-divider" align="center">License</div>
      This is a OpenSource project licensed under the GPLv3 terms.<br>
      The terms of this license can be found at <a href="http://www.fsf.org">http://www.fsf.org</a>
    </div>
    <button ng-controller="ButtonsCtrl" class="button button-assertive button-block icon ion-arrow-left-a" ng-click="gobackone()"></button>
  </ion-content>
</ion-view>
