<ion-view view-title="{{translations.SETUP_TITLE}}" hide-tabs>
  <ion-content class="padding">
  <style type="text/css">
    .pane, .view {
        background: #fff;
        background-color: #fff;
    }

    .header-color {
      background: #387ef5;
      background-color: #387ef5;
      color: #f8f8f8;
    }
  </style>
    <div class="card">
      <div class="item item-text-wrap">
        <h3>{{translations.SCAN_TEXT}}</h3>
        <div class="padding" align="center">
          <button class="button icon-left ion-ios-barcode-outline button-positive" ng-controller="SetupCtrl" on-touch="setup()">{{translations.SCAN_BUTTON}}</button>
        </div>
      </div>
    </div>
    <div align="center">
      <button class="button button-assertive icon ion-android-exit" ng-controller="ExitCtrl" ng-click="ExitApp()"> {{translations.EXIT_BUTTON}}</button>
    </div>
  </ion-content>
</ion-view>
