html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  width: 100%;
  background-color: #4499cc;
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

.flash {
  width: 100%;
  background-color: #44aa55;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.button {
  padding: 4px 10px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background-color: #44aa55;
  color: #ffffff;
}

.button:hover {
  background-color: #0099cc;
  color: white;
}

a, a:visited, a:active {
  text-decoration: none;
}

a {
  color: #0055dd;
}

a:hover {
  color: #33b5e5;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0055aa;
}

.navbar .item {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

.navbar a:hover:not(.active) {
  background-color: #33b5e5;
}

.active {
  background-color: #33b5e5;
}

.navbar .item {
  float: left;
}

input, textarea {
  border: none;
  text-align: center;
  background-color: #eee;
  padding: 4px 4px;
  display: inline-block;
}

input:focus, textarea:focus {
  border: 2px solid #900;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
}
table th {
  color: #eee;
  background-color: #2299cc;
}

table tr:hover {
  background-color: #ddd;
}
